@font-face{
	font-family:"Disp";
	font-style: normal;
	font-weight: normal;
	src: url('../true\ type\ fonts/display.ttf');
}
@font-face{
	font-family:"Indicator";
	font-style: normal;
	font-weight: normal;
	src: url('../true\ type\ fonts/indicator.ttf');
}
body {
    overflow: hidden;
}
.button {
    text-align:center;
    font-size: 14pt;
    height:31.08px;
    width:55px;
    box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 30%), inset -1px -2px 3px rgb(0 0 0 / 30%);
  }
  .menu {
      height:20.86px;
      width:46px;
  }
  .ind {
      font-family:"Indicator";
      font-size:12;
      width: 100%;
  }
  .disp {
      font-family:"Disp";
      font-size:18;
      width: 100%;
      height:40pt;
  }